@using LeaveON.Models
@model LoginViewModel
@{
  ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}
 
<div class="register-box">
  <div class="register-logo">
    <h2><b>Sign in</b></h2>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Signing in to start your session... please wait</p>
      @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", role = "form", name="accountLogin", id = "accountLogin"}))
      {

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form action="../../index.html" method="post">
      <div class="input-group mb-3">
        @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control   ", placeholder = "Email" style = "display: none;", autocomplete = "off"  })*@
        @Html.TextBox("Email", (string)ViewBag.Eamil, new { @class = "form-control", autocomplete = "off", placeholder = "Email", style = "display: none;"})
        @*<div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>*@
      </div>
      @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
      @*@Html.PasswordFor(m => m.Password, new { @class = "form-control fas fa-lock", placeholder = "Password", style = "display: none;", autocomplete = "off" })*@
      @Html.Password("Password", "Admin1234*", new { @class = "form-control fas fa-lock", autocomplete = "off", placeholder = "Password", style = "display: none;"})
      @*<div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>*@
    </div>
      @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
       
       @{ 
           //User.Identity.Name 

           //string UserPrincipalName = System.DirectoryServices.AccountManagement.UserPrincipal.Current.UserPrincipalName;
           //bool IsUserActive = System.DirectoryServices.AccountManagement.UserPrincipal.Current.Enabled.Value;

           string Name = new System.Security.Principal.WindowsPrincipal(System.Security.Principal.WindowsIdentity.GetCurrent()).Identity.Name;
           string Name1 = System.Security.Principal.WindowsIdentity.GetCurrent().Name;


       }
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block" hidden>SignIn</button>
      </div>
    </form>


        @*<a href="login.cshtml" class="text-center">Create New Account</a>*@
           }
    </div>

    <!-- /.form-box -->
  </div><!-- /.card -->
</div>


<!-- /.register-box -->
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    //$('#Email').val('admin.intech@intech.com');
    //$('#Password').val("Admin1234*");
    $('#accountLogin').attr('autocomplete', 'off');
    document.forms["accountLogin"].submit();
    //$('#submit_100').trigger('click');
  });
</script>
