@model IEnumerable<Repository.Models.UserLeavePolicy>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">


<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>


<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">User Leave Policies </h3>


        </div>
        <div class="card-body">
          @Html.ActionLink("Create New", "Create")
          <div d="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
              </div>
              <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">

                <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                  <thead>
                    <tr role="row">
                      @*<th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="WeeklyOffDays: activate to sort column ascending">
                          @Html.DisplayNameFor(model => model.WeeklyOffDays)
                        </th>
                        <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="AnnualOffDays: activate to sort column ascending">
                          @Html.DisplayNameFor(model => model.AnnualOffDays)
                        </th>*@
                      <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="FiscalYearStart: activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.Description)
                      </th>
                      @*<th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="FiscalYearStart: activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.FiscalYearStart)
                      </th>
                      <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="FiscalYearEnd: activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.FiscalYearEnd)
                      </th>*@

                      @*<th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="FiscalYearPeriod: activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.FiscalYearPeriod)
                      </th>*@
                      @*<th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Hometown: activate to sort column ascending">
                          @Html.DisplayNameFor(model => model.AspNetUser.Hometown)
                        </th>*@

                    </tr>
                  </thead>
                  @foreach (var item in Model)
                  {
                    <tr>
                      @*<td>
                          @Html.DisplayFor(modelItem => item.WeeklyOffDays)
                        </td>
                        <td>
                          @Html.DisplayFor(modelItem => item.AnnualOffDays)
                        </td>*@
                      <td>
                        @Html.DisplayFor(modelItem => item.Description)
                      </td>
                      @*<td>
                        @Html.DisplayFor(modelItem => item.FiscalYearStart)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.FiscalYearEnd)
                      </td>*@
                      @*<td>
                        @Html.DisplayFor(modelItem => item.FiscalYearPeriod)
                      </td>*@
                      @*<td>
                          @Html.DisplayFor(modelItem => item.AspNetUser.Hometown)
                        </td>*@
                      <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, Caller="UserLeavePolicy" }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                      </td>
                    </tr>
                  }
                  <tfoot>
                    <tr role="row">
                      @*<th>
                            @Html.DisplayNameFor(model => model.WeeklyOffDays)
                          </th>
                          <th>
                            @Html.DisplayNameFor(model => model.AnnualOffDays)
                          </th>
                            <td>
                          @Html.DisplayFor(modelItem => item.Description)
                        </td>
                          <th>
                            @Html.DisplayNameFor(model => model.FiscalYearStart)
                          </th>
                          <th>
                            @Html.DisplayNameFor(model => model.FiscalYearEnd)
                          </th>
                          <th>
                            @Html.DisplayNameFor(model => model.FiscalYearPeriod)
                          </th>
                          <th>
                            @Html.DisplayNameFor(model => model.AspNetUser.Hometown)
                          </th>*@
                    </tr>
                  </tfoot>


                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>

  $('#example2').DataTable({
    "paging": false,
    "lengthChange": false,
    "searching": false,
    "ordering": true,
    "info": false,
    "autoWidth": false,
    "responsive": true,
  });
  });
</script>
